<!-- messaging/templates/messaging/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Test Group</title>
</head>
<body>
    {% comment %} <input id="group-create-submit" type="button" value="Create group"> {% endcomment %}

    <form action="localhost:8000/groups" method = "post">
        <input id="group_name" type="text" size="100"><br>

        <input type="submit" value="Create group"/>
    </form>

    <script>

        {% comment %} const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/create_group/'
        );

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#group-create-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#group-name-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        }; {% endcomment %}
    </script>

</body>
</html>