azure-storage-blob
Django
django-cors-headers
django-filter
django-mssql-backend
djangorestframework
djangorestframework-simplejwt
PyJWT==1.7.1
Markdown
channels
wheel
azure-cosmosdb-table
Pillow
pyodbc
PyPDF2
textblob
fuzzywuzzy
nltk
gunicorn
daphne
uvicorn
