azure-storage-blob
Django
django-cors-headers
django-filter
django-mssql-backend
djangorestframework
djangorestframework-simplejwt
Markdown
channels
wheel
azure-cosmosdb-table
Pillow
pyodbc
firebase-admin
